<div *ngIf="showMenu" id="vis-menu-background">
    <div class="btn-con">
        <button class="btn btn-info" (click)="visualizeFile('visualization-vis_interaction')">Interaction graph (visjs)</button>
        <button class="btn btn-info" (click)="visualizeFile('visualization-vis_factor')">Factor graph (visjs)</button>
        <button class="btn btn-info" (click)="visualizeFile('visualization-vis_resolution')">Resolution graph (visjs)</button>
        <button class="btn btn-info" (click)="visualizeFile('visualization-vis_matrix')">Matrix visualization</button>
        <button class="btn btn-info" (click)="visualizeFile('visualization-raw')">Raw file</button>
        <button class="btn btn-danger" (click)="close()">Close</button>
    </div>
</div>
