<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Formulavis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
              aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
              (click)="menuCollapsed = !menuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" id="navbarsExampleDefault" [ngClass]="{collapse: menuCollapsed}">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/maxsat" routerLinkActive="active">MaxSat</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/sat" routerLinkActive="active">Sat</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </ul>
      </div>
</nav>
