<div class="about">
<div class="about_header">
  <h4>About Formulavis Project</h4>
  <h6>Logical formula visualisation system <br>
    created at AGH University of Science and Technology.
  </h6>
</div>
  <p>The following portal is publicly available and free of charge, if used
    for  non-commercial purposes. <br> If you like it, you can, although you do
    not  have  to,  send  us a photo of your neighborhood as an electronic
    postcard (rklimek@agh.edu.pl) or, alternatively, a
    traditional  postcard  (Dr  Radoslaw  Klimek,  Department  of  Applied
    Computer  Science,  AGH  University  of  Science  and  Technology, Al.
    Mickiewicza 30, 30-059 Krakow, Poland).</p>
  <h5>People Contributing to the success of this project: </h5>
  <div class="about_footer">
  <h6>Project Coordinator:</h6>
  Dr Radosław Klimek
  <h6>Students:</h6>
  Paweł Baranowski
  </div>
</div>
